
    [PATH]
    config=network.spec
    load=/usr/people/jingpeng/seungmount/research/Jingpeng/01_ZNN/znn-release/experiments/W5_C10_P3_D2network/
    data=chunk.
    save=./znn_temp/
    hist=
    
    [OPTIMIZE]
    n_threads=7
    force_fft=1
    optimize_fft=0
    
    [TRAIN]
    test_range=1
    outsz=100,100,1
    softmax=0
    mirroring=0
    
    [SCAN]
    cutoff=1
    